@import '../variables';
@import '../shadows';

/* Used in Homepage#categories and Community#topics */
.blocks-list {
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;

    @media (min-width: 768px) {
        //margin: 0 -16px;
    }
}

.blocks-item {
    display: flex;
    flex: 1 0 320px;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    max-width: 100%;
    flex-grow: 0;

    border: 0;
    border-radius: 1000px;
    background: white;
    @include shadow(1);

    font-size: 1rem;
    font-weight: 300;
    text-align: center;

    transition: all .1s;

    &:hover,
    &:focus,
    &:active {
        transform: translateY(-8px);
        @include shadow(2);

        * {
            text-decoration: none;
        }
    }

    @media (min-width: 768px) {
        margin: 0 15px 30px;
    }
}

.blocks-item-internal {
    background-color: transparent;
    border: 1px solid #ddd;
}

.blocks-item-internal .icon-lock::before {
    content: "\1F512";
    font-size: 15px;
    bottom: 5px;
    position: relative;
}

.blocks-item-internal a {
    color: $text-primary;
}

.blocks-item-link {
    color: $brand-teal;
    padding: 24px 32px;
}

.blocks-item-title {
    margin-bottom: 0;
    color: $brand-teal-dark;
}

.blocks-item-description {
    max-width: 300px;
    margin: 0 auto;
    font-weight: 300;
    color: #888;
}

.blocks-item-description:not(:empty) {
    margin-top: 10px;
}
