@import '../variables';

.footer {
    border-top: 1px solid #ddd;
    margin-top: 60px;
    padding: 30px 0;
}

.footer a {
    color: lighten($text-primary, 20%);
}

.footer-inner {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: $container-width) {
    .footer-inner {
        padding: 0;
        width: 90%;
    }
}

.footer-language-selector {
    color: lighten($text-primary, 20%);
    display: inline-block;
    font-weight: 300;
}

.footer-more-questions-container {
    max-width: $container-width;
    margin: 32px auto;
    padding-left: $sidebar-width;
}

.footer-more-questions {
    display: flex;
    flex-direction: row;
    align-items: center;


    background: $brand-teal;
    padding: 8px 24px;
    border-radius: 1000px;
    line-height: 1.2;

    @include shadow(1);

    .icon {
        margin-right: 16px;
    }

    a[href] {
        margin: -2px -8px;
        padding: 2px 8px;

        border-radius: 100px;

        &:hover {
            background: rgba(white, 0.2);
        }
    }

    h3 {
        margin-bottom: 4px;
    }

    * {
        color: white;
        margin: 0;
    }
}
