@import '../variables';

main.main-sidebar {
    display: flex;
    justify-content: center;
    flex: 1;

    > .container {
        margin: 0;
    }
}

.sidebar-panel {
    padding: 88px 24px 0;
    width: $sidebar-width;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

@media (max-width: 768px) {
    .sidebar-panel {
        display: none;
    }
}

.sidebar-item {
    font-family: $heading_font;
    color: #333;
    font-size: 14px;
    border-right: 1px solid transparent;

    .sidebar-item-title {
        display: block;
        color: #666;
        cursor: pointer;
        text-decoration: none;
        padding: 4px 0;

        &:hover {
            color: #333;
        }

        &:before {
            content: "\E75E";
            font-family: "entypo";
            margin-right: 5px;
            -webkit-transition: all .15s ease-in-out;
            -moz-transition: all .15s ease-in-out;
            -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
            opacity: .6;
        }
    }

    // Nested item
    .sidebar-item {
        padding: 4px 8px 4px 0;
        font-size: 13px;
        line-height: 1.1;
        border-right: 1px solid rgba($brand-purple, .1);

        &:hover,
        &.current {
            border-right: 1px solid $brand-purple;
        }
    }

    // Nested UL
    > ul {
        margin-top: 4px;
        margin-bottom: 16px;
    }

    &.open {
        > .sidebar-item-title:before {
            content: "\E75C";
            opacity: 1;
        }
    }
}

.sidebar-home .sidebar-item-title:before {
    display: none;
}

.sidebar-item.open > .sidebar-item-title,
.sidebar-item.current .sidebar-item-link {
    color: $link;
}


.sidebar-item-link {
    display: block;
    color: #666;
    text-decoration: none;
}

.sidebar-item-link:hover {
    color: #333;
}

.sidebar-category-title {
    display: block;

    margin-top: 16px;
    margin-bottom: 0;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    color: $brand-teal;
}
