<header class="page-header">
    <h1 style="text-align: center">
        {{t 'submit_a_request'}}

        {{#if follow_up}}
            <span class="follow-up-hint">
                {{follow_up}}
            </span>
        {{/if}}
    </h1>
</header>

<div class="form content">
    {{request_form}}
</div>

{{chat}}
