@import 'variables';

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-top: 0;

    letter-spacing: -.02em;

    a:not([href]) {
        text-decoration: none !important;
    }
}

h1, h2, h3 {
    color: $brand-teal-dark;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

h4 {
    font-size: 16px;
}

a {
    color: $link;
    text-decoration: none;
}
