@import '../variables';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $container-width;
    height: 70px;
    margin: 0 auto;
    padding: 0 32px;
    z-index: 10;

    .logo img {
        max-height: 48px;
        min-width: 48px;
    }

    .logo-link {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo-title {
        margin: 0;
        margin-left: 10px;
        color: #1d6f68;
        white-space: nowrap;
    }

}


.user-nav {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .user-nav {
        position: relative;
    }
}

.user-nav[aria-expanded="true"] {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ddd;
    right: 0;
    left: 0;
    top: 71px;
    z-index: 1;
}

.user-nav[aria-expanded="true"] > a {
    display: block;
    margin: 20px;
}

.nav-wrapper {
    display: flex;
    align-items: center;

    margin-left: auto;
}

.nav-wrapper a {
    border: 0;
    color: #1d6f68;
    display: none;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px 0 0;
    width: auto;
}

@media (min-width: 768px) {
    .nav-wrapper a {
        display: inline-block;
    }
}

[dir="rtl"] .nav-wrapper a {
    padding: 0 0 0 20px;
}

.nav-wrapper a:hover, .nav-wrapper a:focus, .nav-wrapper a:active {
    background-color: transparent;
    color: #1d6f68;
    text-decoration: underline;
}

.nav-wrapper a.login {
    display: inline-block;
}

.nav-wrapper .icon-menu {
    display: inline-block;
    margin-right: 10px;
    color: $link;
}

@media (min-width: 768px) {
    .nav-wrapper .icon-menu {
        display: none;
    }
}

[dir="rtl"] .nav-wrapper .icon-menu {
    margin-left: 10px;
    margin-right: 0;
}

.header .search {
    display: none;
    min-width: 300px;
    width: 100%;
    margin: 0 32px 0 168px;
}


.mobile-search-wrapper {
    padding: 10px;
    background: #FAFAFA;
    border-bottom: 1px solid #DDD;
}

@media (min-width: 768px) {
    .mobile-search-wrapper {
        display: none;
    }

    .header .search {
        display: inline-block;
    }
}



.user-info {
    display: inline-block;
}

.user-info .dropdown-toggle::after {
    display: none;
}

@media (min-width: 768px) {
    .user-info .dropdown-toggle::after {
        display: inline-block;
    }
}

.user-info > [role="button"] {
    border: 0;
    color: #444;
    min-width: 0;
    padding: 0;
    white-space: nowrap;
    font-weight: 500;
}

.user-info > [role="button"]:hover {
    color: #444;
    background-color: transparent;
}

.user-info > [role="button"]::after {
    color: #444;
    padding-right: 15px;
}

[dir="rtl"] .user-info > [role="button"]::after {
    padding-left: 15px;
    padding-right: 0;
}

#user #user-name {
    display: none;
    font-size: 14px;
    font-weight: 600;
}

@media (min-width: 768px) {
    #user #user-name {
        display: inline-block;
    }
}

#user #user-name:hover {
    text-decoration: underline;
}

/***** User avatar *****/
.user-avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
}

.avatar {
    display: inline-block;
    position: relative;
}

.avatar img {
    height: 40px;
    width: 40px;
}

.avatar .icon-agent::before {
    background-color: $brand-teal;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: -4px;
    color: $brand_text_color;
    content: "\1F464";
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: -2px;
    text-align: center;
    width: 14px;
}
