@import '../variables';
@import '../shadows';

.home-page {
    padding: 0 24px;
    max-width: $content-width;

    /***** Home *****/
    .home-title {
        margin: 48px 0 0;
        text-align: center;
    }

    .home-desc {
        text-align: center;
    }

    .knowledge-base {
        margin: 40px 0;
    }

    .home-page-section {
        margin-bottom: 40px;
    }

    @media (min-width: 768px) {
        .home-page-section {
            margin-bottom: 60px;
        }
    }

    .home-page-section h2 {
        margin-bottom: 10px;
        text-align: center;
    }

}
